body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.black-frame {
  border: 2px solid black; /* Adds a black border */
}

.space-small {
  margin-bottom: 10px;
}

.space-medium {
  margin-bottom: 20px;
}

.space-large {
  margin-bottom: 30px;
}